  <!-- partials/appbar.html -->
  <header class="mui-appbar mui--z1">
    <div class="mui-container">
      <table width="100%">
        <tr class="mui--appbar-height">
          <td class="mui--text-title">
            <a href="{{ url_for('index') }}">Flask-Restful Demo</a>
          </td>
          <td align="right">
            <ul class="mui-list--inline mui--text-body2">
              <li><a href="{{ url_for('about') }}">About</a></li>
              <li>
                <a href="mailto:ernstki%20-at-%20mail.uc.edu?subject=Vue%20To-do">
                  <i class="material-icons mui--align-middle">mail_outline</i>
                </a>
                <a href="mailto:ernstki%20-at-%20mail.uc.edu?subject=Vue%20To-do">
                  Contact
                </a>
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </header>
