/**
 * Body CSS
 */
html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

header ul.mui-list--inline {
  margin-bottom: 0;
}

header ul.mui-list--inline li {
  margin-left: 12px;
}

header ul.mui-list--inline li a:hover {
  text-decoration: none;
}

header a,
header a:hover,
header a:visited {
  color: white;
}

#todo-container {
  min-height: 100%;

  /* sticky footer */
  margin-bottom: -100px;
  padding-bottom: 100px;
}

#readme-container .mui-panel {
  padding: 12px 48px 24px;
}

#readme-container h1 {
  font-size: xx-large;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 12px;
}

#readme-container h2 {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 0;
}

#readme-container h3 {
  font-size: x-large;
  margin-bottom: 0;
}

footer {
  height: 100px;
  background-color: #eee;
  border-top: 1px solid #e0e0e0;
  padding-top: 35px;
}

.todo-done {
  opacity: 0.4;
}

.todo-done span {
  text-decoration: line-through;
}

/* Source: https://google.github.io/material-design-icons/  */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

#add-todo {
  width: 100%;
}

#add-todo .mui-textfield {
  padding-top: 0;
  margin-bottom: 0;
}
