{%- import 'macros/asset.html' as asset -%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flask-Restful Demo - About</title>
  <link rel="stylesheet"
   href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {{ asset.vendorcss('mui/packages/cdn/css/mui.min.css') }}
  {{ asset.vendorcss('material-design-lite/material.min.css') }}
  {{ asset.css('style.css') }}
</head>

<body>
{% include 'partials/appbar.html' %}

  <div id="readme-container" class="mui-container-fluid">
    <div class="mui--appbar-height"></div>
    <br>

    <div class="mui-row">
      <div class="mui-col-md-1"></div>
      <div class="mui-col-md-10">
        <div class="mui-panel mui--z2">
          {{ readme }}
        </div>
      </div>
      <div class="mui-col-md-1"></div>
    </div><!--/.mui-row-->

  </div><!--/#content-wrapper-->

{% include 'partials/footer.html' %}

  {{ asset.vendorjs('mui/packages/cdn/js/mui.min.js') }}
</body>
</html>
